<ons-page>

    <ons-toolbar>
        <div class="navigation-bar__left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">物件登録</div>
    </ons-toolbar>
    
<section class="bukken2">

    <div>
        <P>それはどんなタイプの場所にありますか？</P>

        <HR>

        <TABLE border="0">
            <TBODY>
                <TR>
                    <TH><div class="icon">
                    <IMG src="images/bukken/garage.jpg" border="0"><div></TH>
                    <TH><a ng-click="navi.pushPage('bukken3.html')">倉庫</a></TH>
                </TR>
            </TBODY>
        </TABLE>

        <HR>

        <TABLE border="0">
            <TBODY>
                <TR>
                    <TH><div class="icon">
                    <IMG src="images/bukken/house2.png" border="0"><div></TH>
                    <TH><a ng-click="navi.pushPage('bukken3.html')">一軒家</a></TH>
                </TR>
            </TBODY>
        </TABLE>
        <HR>
        <TABLE border="0">
            <TBODY>
                <TR>
                    <TH><div class="icon">
                    <IMG src="images/bukken/bill.png" border="0"><div></TH>
                    <TH><a ng-click="navi.pushPage('bukken3.html')">アパート・マンション</a</TH>
                </TR>
            </TBODY>
        </TABLE>
        <HR>
        <TABLE border="0">
            <TBODY>
                <TR>
                    <TH><div class="icon">
                    <IMG src="images/bukken/Park.jpg" border="0"><div></TH>
                    <TH><a ng-click="navi.pushPage('bukken3.html')">駐車場 (屋外)</a></TH>
                </TR>
            </TBODY>
        </TABLE>
        <HR>
        <TABLE border="0">
            <TBODY>
                <TR>
                    <TH><div class="icon">
                    <IMG src="images/bukken/garage.jpg" border="0"><div></TH>
                    <TH><a ng-click="navi.pushPage('bukken3.html')">ガレージ</a></TH>
                </TR>
            </TBODY>
        </TABLE>
        <HR>
    </div>
</ons-page>
