<ons-page>

    <ons-toolbar>
        <div class="navigation-bar__left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">物件登録</div>
    </ons-toolbar>

<section class="bukken1">

    <div>
        <P>
            掲載したいのは<BR>
            どんなタイプのものですか？
        </P>

        <HR>

        <TABLE border="0">
            <TBODY>
                <TR>
                    <TH>
                    <div class="icon">
                    <IMG src="images/bukken/house.png" alt="" border="0">
                    <div>
                    </TH>
                    <TH><a ng-click="navi.pushPage('bukken2.html')">貸し切り（専有）</a></TH>
                </TR>
            </TBODY>
        </TABLE>

        <HR>

        <TABLE border="0">
            <TBODY>
                <TR>
                    <TH>
                    <div class="icon">
                    <IMG src="images/bukken/koshitsu.jpg" border="0">
                    <div>
                    </TH>
                    <TH><a ng-click="navi.pushPage('bukken2.html')">個室（一部借用）</a></TH>
                </TR>
            </TBODY>
        </TABLE>
        <HR>
        <TABLE border="0">
            <TBODY>
                <TR>
                    <TH>
                    <div class="icon">
                    <IMG src="images/bukken/share.png" border="0">
                    <div>
                    </TH>
                    <TH><a ng-click="navi.pushPage('bukken2.html')">シェア（共用）</a></TH>
                </TR>
            </TBODY>
        </TABLE>
    <HR>
</div>
</ons-page>
