<ons-page>
    <ons-toolbar>
        <ons-back-button>Back</ons-back-button>
    </ons-toolbar>
    
    <section id="wrapper" class="friend">
    <div class="photo"><img src="images/box067.jpg" alt=""></div>
    <div class="tomodati">
        <p>お友達にKURAHAKOの</p>
        <p>￥1000割引を送りませんか？</p>
        <p>お友達がご利用になると</p>
        <p>あなたも￥1000ゲット！</p>
    </div>
    
    <div class="margin20"><ons-button ng-click="navi.pushPage('navi.html')">友達を招待</ons-button></div>
    </div>
    
    <div class="margin20"><ons-button ng-click="navi.pushPage('navi.html')">利用規約</ons-button></div>
    </div>
    </section>
    
</ons-page>

