<ons-page>
    <ons-toolbar>
        <div class="navigation-bar__center"><input type="search" class="search-input" placeholder="キーワード"></div>
    </ons-toolbar>
    <section class="profile">
    
    <h6>プロフィールを確認・編集</h6>
    　　　<p><a ng-click="navi.pushPage('friend.html')">友達を招待</a></p>
    　　　<p><a ng-click="navi.pushPage('favorite.html')">お気に入り</a></p>
    　　　<p><a ng-click="navi.pushPage('configuration.html')">設定</a></p>
    　　　<p>ヘルプ＆サポート</p>
    　　　<p><a ng-click="navi.pushPage('bukken1.html')">物件を掲載する</a></p>
    　　　<p>フィードバック</p>
    　　　<p>借主・貸主登録</p>
    
    
    <div style="text-align: center; margin-top: 30px;">
        <p id="submit button cover" >
        <input type="submit" id="submit button" value="登録"></p>
            </div>
    </section>




<!--  <ons-page>
   <ons-toolbar>
        <div class="center">プロフィールを確認・編集</div>
    </ons-toolbar>
   
   <div class="profile" style="text-align: center; margin-top: 30px;">
       <div><ons-input id="username" modifier="underbar" placeholder="お名前" float></ons-input></div>
       <div><ons-input id="post" modifier="underbar" placeholder="郵便番号" float></ons-input></div>
       <div><ons-input id="adress1" modifier="underbar" placeholder="都道府県" float></ons-input></div>
       <div><ons-input id="adress2" modifier="underbar" placeholder="市町村名" float></ons-input></div>
       <div><ons-input id="adress3" modifier="underbar" placeholder="番地" float></ons-input></div>
       <div><ons-input id="tel" modifier="underbar" placeholder="TEL" float></ons-input></div>
       <div><ons-input id="mail" modifier="underbar" placeholder="メールアドレス" float></ons-input></div>
   </div>
    
    <dt>コメント欄</dt>
    <dd><textarea name="comment" id="comment"></textarea></dd>
    
    <div style="text-align: center; margin-top: 30px;">
    <p id="submit button cover" >
    <input type="submit" id="submit button" value="登録"></p>
    </div>
    
    
    
    
    
    <form method="post" action="example.cgi">
 
 
 
 <div style="text-align: center; margin-top: 30px;">
 
 <input type="text" name="name" size="8" value="" onFocus="unDspInputSetsumei(this,'お名前');" onBlur="DspInputSetsumei(this,'お名前');" />
 
 <input type="text" name="post" size="8" value="" onFocus="unDspInputSetsumei(this,'郵便番号');" onBlur="DspInputSetsumei(this,'郵便番号');" />
 
 <input type="text" name="adress1" size="8" value="" onFocus="unDspInputSetsumei(this,'都道府県');" onBlur="DspInputSetsumei(this,'都道府県');" />
 
 <input type="text" name="adress2" size="8" value="" onFocus="unDspInputSetsumei(this,'市町村名');" onBlur="DspInputSetsumei(this,'市町村名');" />
 
 <input type="text" name="adress3" size="8" value="" onFocus="unDspInputSetsumei(this,'番地');" onBlur="DspInputSetsumei(this,'番地');" />
 
 <input type="text" name="TEL" size="8" value="" onFocus="unDspInputSetsumei(this,'TEL');" onBlur="DspInputSetsumei(this,'TEL');" />
 
 <input type="text" name="mail" size="8" value="" onFocus="unDspInputSetsumei(this,'メールアドレス');" onBlur="DspInputSetsumei(this,'メールアドレス');" />
 
 </div>
 

 
 

 
        <dl>
            <dt>お名前<span class="must">＊</span></dt>
            <dd><input type="text" name="name" size="30" id="name" required></dd>
            
            <dt>郵便番号<span class="must">＊</span></dt>
            <dd><input type="text" name="postno" id="postno" required></dd>
            
            <dt>都道府県<span class="must">＊</span></dt>
            <dd><input type="text" name="adress1" id="adress1" required></dd>
            
            <dt>市町村名<span class="must">＊</span></dt>
            <dd><input type="text" name="adress2" id="adress2" required></dd>
            
            <dt>番地<span class="must">＊</span></dt>
            <dd><input type="text" name="adress3" id="adress3" required></dd>
            
            <dt>TEL<span class="must">＊</span></dt>
            <dd><input type="text" name="adress2" id="adress2" required></dd>
            
            <dt>メールアドレス <span class="must">＊</span></dt>
            <dd><input type="email" name="email" id="email" required></dd>
            
            <dt>コメント欄</dt>
            <dd><textarea name="comment" id="comment"></textarea></dd>
            
            <p id="submit button cover" >
            <input type="submit" id="submit button" value="登録"></p>
                
                
                </form>-->


    
  </ons-page>
